<div id="wrapper">
  <div class="robot">
    <button mat-raised-button color="primary" (click)="onCBtnClick()">Make C Program</button>
    <div class="c-programs">
      <mat-list role="list" class="program-list">
        <mat-card class="program-card" *ngFor="let program of cRobot.createdPrograms" role="listitem">
          <mat-card-title><h2>{{program.file.getFullName()}}</h2></mat-card-title>
          <mat-card-subtitle>Written on {{program.file.date.toLocaleDateString()}} at {{program.file.date.toLocaleTimeString()}}</mat-card-subtitle>
          <mat-card-actions>
            <mat-icon class="run-button" (click)="program.run()">play_arrow</mat-icon>
          </mat-card-actions>
        </mat-card>
      </mat-list>
    </div>
  </div>

  <div class="robot">
    <button mat-raised-button color="primary" (click)="onJavaBtnClick()">Make Java Program</button>
    <div class="c-programs">
      <mat-list role="list" class="program-list">
        <mat-card class="program-card" *ngFor="let program of javaRobot.createdPrograms" role="listitem">
          <mat-card-title><h2>{{program.file.getFullName()}}</h2></mat-card-title>
          <mat-card-subtitle>Written on {{program.file.date.toLocaleDateString()}} at {{program.file.date.toLocaleTimeString()}}</mat-card-subtitle>
          <mat-card-actions>
            <mat-icon class="run-button" (click)="program.run()">play_arrow</mat-icon>
          </mat-card-actions>
        </mat-card>
      </mat-list>
    </div>
  </div>
</div>
